<h2>List of registered Cars</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Model:</th>
      <th>Manufacturer:</th>
      <th>PS:</th>
      <th>Price:</th>
      <th>Currency:</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cars">
      <td>{{item.model}}</td>
      <td>{{item.manufacturer}}</td>
      <td>{{item.ps}}</td>
      <td>{{item.price}}</td>
      <td>{{item.currency_code}}</td>
      <td><button class="btn btn-warning" (click)="editCar(item.id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteCar(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
